services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: dicri-backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./backend/.env.docker
    depends_on:
      - sqlserver
    environment:
      - NODE_ENV=development
    command: ["npm", "run", "dev"]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: dicri-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - ./frontend/.env.docker
    depends_on:
      - backend
    environment:
      - NODE_ENV=development
    #
    command: ["npm", "run", "dev"]


  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: dicri-sql
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=@dmin$1234
